name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Log masks
        run: echo "::add-mask::$NAME_MASK"

      - uses: actions/checkout@v4
      - uses: mlugg/setup-zig@v1
        with: 
          version: master

      - name: Run zig fmt
        if: matrix.os == 'self-hosted'
        run: zig fmt --check .

      - name: Run module tests
        run: zig build test --summary all
